.root {
}

.blue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    height: 3rem;
    background-color: rgba(226, 232, 243, 0.32);
    border-radius: 32rem;
    border: solid 1px #ffffff;
    overflow: hidden;
}

.green {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    height: 3rem;
    background-color: rgba(228, 243, 226, 0.32);
    border-radius: 32rem;
    border: solid 1px #ffffff;
    overflow: hidden;
}

.red {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    height: 3rem;
    background-color: rgba(243, 227, 226, 0.32);
    border-radius: 32rem;
    border: solid 1px #ffffff;
    overflow: hidden;
}

.yellow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    height: 3rem;
    background-color: rgba(243, 239, 226, 0.32);
    border-radius: 32rem;
    border: solid 1px #ffffff;
    overflow: hidden;
}

.itemBlue {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    user-select: none;
}

.itemGreen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    user-select: none;
}

.itemRed {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    user-select: none;
}

.itemYellow {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    user-select: none;
}

.itemBlue:hover {
    background-color: rgba(165, 203, 229, 0.32);
}

.itemGreen:hover {
    background-color: rgba(186, 229, 165, 0.32);
}

.itemRed:hover {
    background-color: rgba(229, 175, 165, 0.32);
}

.itemYellow:hover {
    background-color: rgba(229, 220, 165, 0.32);
}

.activeBlue {
    background-color: rgba(69, 159, 241, 0.64) !important;
    color: #FFFFFF;
}

.activeGreen {
    background-color: rgba(54, 182, 71, 0.64) !important;
    color: #FFFFFF;
}

.activeRed {
    background-color: rgba(241, 95, 69, 0.64) !important;
    color: #FFFFFF;
}

.activeYellow {
    background-color: rgba(175, 128, 25, 0.64) !important;
    color: #FFFFFF;
}
