.root {
    width: 100%;
    height: 100%;
}

.blue {
    background-color: var(--bkg_color);
}

.green {
    background-color: #adcb9b;
}

.red {
    background-color: #cba69b;
}

.yellow {
    background-color: #cbc79b;
}