.root {
    width: max-content;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 32rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    user-select: none;
}
