:root {
    /*font-family: 'Roboto Flex', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Roboto Serif', serif;*/

/*
    Базовые цвета всего приложения
*/
    --bkg_color: #99bce1;
    --bkg_font: #020E18;
    --bkg_font_body: #234968;
    --border_color: #FFFFFF;
    --border_color_2: #072036;
}

html, body {
    font-family: 'Roboto Flex', sans-serif;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
}

p {
    margin: 0;
    padding: 0;
}